{% extends '::base.html.twig' %}
{% block body %}
    <h1>{{address.contact.nameAndSurname}}</h1>
    
    Adresy:<br>
    <hr>
    {% for address in address.contact.addresses %}
    {{address.city}}<br>
    {{address.street}}<br>
    {{address.streetNumber}}<br>
    {{address.flatNumber}}<br>
    <br>
    {% endfor %}
    
    <hr>
    <a class="btn btn-default" href='{{path('coderslab_contact_show',{'id':address.contact.id})}}'>Back to contact information</a>
    <a class="btn btn-default" href='{{path('coderslab_address_new', {'id':address.id}) }}'>Add address</a>
    <a class="btn btn-danger" href='{{path('coderslab_address_delete', {'id':address.id}) }}'>Remove</a>
{% endblock %}