{% extends '::base.html.twig' %}
{% block body %}
   <h1>{{email.contact.nameAndSurname}}</h1>
    <hr>
    {% for email in email.contact.emails %}
        {{email.email}}<br>
        {{email.type}}<br>
        {% endfor %}
    <br>
    <hr>
    <a class="btn btn-default" href='{{path('coderslab_contact_show',  {'id':email.contact.id})}}'>Back to contact</a>
    <a class="btn btn-danger" href='{{path('coderslab_email_new', {'id':email.id}) }}'>Add email</a>
    <a class="btn btn-danger" href='{{path('coderslab_email_delete', {'id':email.id}) }}'>Remove</a>
{% endblock %}
