{% extends '::base.html.twig' %}
{% block body %}
  <h1>{{phoneNumber.contact.nameAndSurname}}</h1>
    <hr>
    {{phoneNumber.number}}<br>
    {{phoneNumber.type}}<br>

    <hr>
    <a class="btn btn-default" href='{{path('coderslab_phonenumber_showall')}}'>Back to list</a>
    <a class="btn btn-danger" href='{{path('coderslab_phonenumber_new', {'id':phoneNumber.id}) }}'>Add phone number</a>
    <a class="btn btn-danger" href='{{path('coderslab_phonenumber_delete', {'id':phoneNumber.id}) }}'>Remove</a>
{% endblock %}